<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Sucursal</title>
</head>
<body>
    <h2 class="text-black-50 mx-auto mt-2 mb-5" style="border-color: antiquewhite; font-size: 20px;">Ingrese el barrio de la sucursal:</h2>
    <form action="/buscarsucursal" method="GET">

    <input type="text" name="barrio" id="barrio">
    <input type="submit" value="Buscar">

    </form>


</body>
</html>