<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos Golden</title>
</head>
<body>
    
{% extends "AppGoldenCafe/padre.html" %}

{% load static %}

{% block contenidoQueCambia %} 

<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <header class="page-top" style="margin-top: 80px;">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0" style="border-color: antiquewhite;">Los más pedidos!</h1>
                    <h2 class="text-black-50 mx-auto mt-2 mb-5" style="border-color: antiquewhite; font-size: 20px;"> Cuáles son los que más salen? Te contamos acá</h2>
                    
                </div>
            </div>
        </div>
    </header>


     <!-- Content section 1-->
     <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'appgoldencafe/assets/img/flatwhite.jpeg' %}" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Flat White</h2>
                        <p>Nuestro café estrella! El Flat White se prepara con dos espressos, aproximadamente 150 ml, y una capa fina de crema de leche emulsionada. Irresistible</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 2-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'appgoldencafe/assets/img/capuccino.jpeg' %}" alt="..." /></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Capuccino</h2>
                        <p>Un buen capuchino es un equilibrio perfecto entre espresso, leche vaporizada y espuma. La clave está en la temperatura y la textura de la leche, que debe ser suave y cremosa. ¡Imagina una nube de leche sobre un mar de café! </p>
                    </div>
                </div>
            </div>
        </div>
    </section>




 <!-- NUEVA PARTE INCLUYENDO TODO -->
     
 <section>

    <h1>Gestión de Pedidos</h1>

    <!-- Agregar Pedido -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit" name="agregar_pedido">Agregar Pedido</button>
    </form>

</section>

<div style="height: 50px;"></div>

<section>

    <!-- Buscar Pedido -->
    <h2 class="text-black-50 mx-auto mt-2 mb-5" style="border-color: antiquewhite; font-size: 20px;">Ingrese el nombre del pedido o café:</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="tipo_cafe" placeholder="tipo_cafe">
        <button type="submit" name="buscar_pedido">Buscar</button>
    </form>


    <!-- Resultado Busqueda Pedido -->
    {% if pedidos %}
        <table>
            <thead>
                <tr>
                    <th> Nombre del Pedido o Café /</th>
                    <th> Unidades </th>
                    </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                    <tr>
                        <td>{{ pedido.tipo_cafe }}</td>
                        <td>{{ pedido.unidades }}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>  

    {% else %}
        {{ mensaje }}
    {% endif %}

</section>  



{% endblock %}   


</body>
</html>