<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos Golden</title>
</head>
<body>
    
{% extends "AppGoldenCafe/padre.html" %}

{% load static %}

{% block contenidoQueCambia %} 

<!--Aquí va lo que cambia, y lo asociado a está vista :) -->

     <!-- Content section 1-->
     <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'appgoldencafe/assets/img/flatwhite.jpeg' %}" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Flat White</h2>
                        <p>Nuestro café estrella! El Flat White se prepara con dos espressos, aproximadamente 150 ml, y una capa fina de crema de leche emulsionada. Irresistible</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 2-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'appgoldencafe/assets/img/capuccino.jpeg' %}" alt="..." /></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Capuccino</h2>
                        <p>Un buen capuchino es un equilibrio perfecto entre espresso, leche vaporizada y espuma. La clave está en la temperatura y la textura de la leche, que debe ser suave y cremosa. ¡Imagina una nube de leche sobre un mar de café! </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

</body>
</html>